<!DOCTYPE html>
<html lang="de">
<head>
    {% include 'components/head.html' %}
</head>
<body>
    {% include 'components/back-navigation.html' %}
    <div class="credits-container">
        <div class="credits">
            <p>Inhalt</p><p>Bruno Brero</p>
            <p>Hosting</p><p>Tim Holzhey</p>
            <p>Icons</p><a href="https://www.flaticon.com/free-icons/survey">Freepik - Flaticon</a>
            <p>FU Logo</p><a href="https://www.fu-berlin.de/sites/corporate-design/grundlagen/logo/index.html">Freie Universität Berlin</a>
        </div>
    </div>
</body>
</html>