<!DOCTYPE html>
<html lang="de">
<head>
    {% include 'components/head.html' %}
</head>
<body>
    <main>
        <div class="question-info">{{ question.info|safe }}</div>
        <h1>{{ question.question }}</h1>
        <hr>
        <form action="/survey_delay_question" method="post">
            <input type="hidden" name="question_group" value="{{ question.group }}">
            <input type="hidden" name="question_id" value="{{ question.id }}">
            <input type="hidden" name="answer_option_id" value="0">
            <div class="form-list">
            {% for answer in question.answer_options %}
                <button class="form-list-item" data-value="{{ answer.id }}">{{ answer.value_string }}</button>
            {% endfor %}
            </div>
        </form>
    </main>
    <div class="progress-bar">
        <div class="progress-bar-fill" style="width: {{ progress }}%"></div>
    </div>
    {% include 'components/footer.html' %}
    <script>
        document.querySelectorAll(".form-list-item").forEach(
            elt => {
                elt.addEventListener("click", () => {
                    document.getElementsByName("answer_option_id")[0].value = elt.getAttribute("data-value");
                    document.forms[0].submit();
                })
            }
        )
    </script>
</body>
</html>